

#item-list-header{
    margin: 0.5em 0 0 0.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3{
        margin: 0;
    }
}

.item{
    text-overflow: ellipsis;
    white-space: nowrap;
}

#editor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.5em 0 0.5em;
}

#editor{
    padding: 0.5em;
}